@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

img {
  border-radius: 40%;
  margin-top: 40px;
}

ul {
  padding: 0px;
  margin: 0;
  margin-top: 12px;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  width: 400px;
  text-align: center;
  border-radius: 8px;
  height: fit-content;
  outline: 6px solid rgb(241, 241, 241);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 25);
}

.pamitan {
  margin-bottom: 40px;
}

button {
  padding: 16px;
  width: 100%;
  margin-top: 12px;
  border-radius: 8px;
  border: 2px solid rgb(122, 122, 122);
  font-family: Poppins;
  font-size: medium;
  font-weight: 500;
  background-color: white;
  transition: all 0.4s;
  cursor: pointer;
}

.icon {
  padding: 10px;
  margin: 10px;
}

button:hover {
  background-color: black;
  color: white;
}
